<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="Fork:ConfigLine" value="listen=5000 listen=5001 listen=5002" />
    <add key="Fork:DestinationBuffersSize" value="100" />
  </appSettings>
</configuration>